nav{
  padding:0;
  padding: 20px;
  padding-top: 30px;
  padding-bottom: 30px;
  background-image: linear-gradient(#66e0ff, #002699);
  color : white;
  font-weight: bold;

  display: flex;
	flex-direction: row;
  justify-content: space-between;
}

.logo img{
  margin: 10px;
  margin-top: 20px;
}

.titre p{
  margin: 0px;
}

h1{
  font-size: 35px;
  margin: 0px;
  margin-top: 15px;

}

ul{
  display: flex;
	flex-direction: row;
  justify-content: space-between;
}

ul li{
  list-style-type:none;
  text-decoration: none;
}

ul li a{
  	text-decoration:none;
    color: white;
    margin-left: -1px; /* pour enlever la double bordure*/
  	padding: 10px;

    display: flex;
    flex-direction: column;
    align-items: center;

    border-radius: 10px;
  }

li{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

img{
  margin: 2px;
}

.logo{
  display: flex;
	flex-direction: row;
  align-content: flex-start;
}

.navbar{
  align-content: flex-end;
}

ul li a{
  	text-decoration:none;
    margin-left: -1px; /* pour enlever la double bordure*/
  	padding: 10px;
}

body{
  font-family: 'Nunito', sans-serif;
  margin: 0px;
}

fieldset{
  margin: 0px;
  border: 0px;
}

.searchbar{
  display: flex;
  justify-content: space-around;
}
