nav{
  padding:0;
  padding: 20px;
  padding-top: 30px;
  padding-bottom: 150px;
  /* background-image: linear-gradient(#663300, #cc6600); */
  background-color: white;
  color : #6699ff;
  font-weight: bold;
  display: flex;
	flex-direction: row;
  justify-content: space-between;
}

.logo img{
  margin: 5px;
  margin-top: 5px;
}

.titre p{
  margin: 0px;
}

h1{
  font-size: 30px;
  margin: 0px;
  margin-top: 0px;

}

ul{
  display: flex;
	flex-direction: row;
  justify-content: space-around;
}

ul li{
  list-style-type:none;
  text-decoration: none;
  margin-left: 15px;
}
#f2f2f2
ul li a{
  	text-decoration:none;
    color : #6699ff;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

li{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

img{
  margin: 2px;
}

.logo{
  display: flex;
	flex-direction: row;
  align-content: flex-start;
  padding-top: 5px;
  margin-left: 10%;
}

.navbar{
  align-content: flex-end;
  margin-right: 10%;
}

ul li a{
  	text-decoration:none;
    margin-left: -1px; /* pour enlever la double bordure*/
}

body{
  font-family: 'Nunito', sans-serif;
  margin: 0px;
  background-color: #f2f2f2;
}

fieldset{
  margin-top: 50px;
  border: 0px;
}

.searchbar{
  color: white;
  /* background-image: linear-gradient(#002699, #003d99); */
  background-color: #6699ff;
  border-radius: 30px;
  margin-left: 25%;
  margin-right: 25%;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.txtrech{
  margin-left: 20%;
  font-weight: bold;
  font-size: 20px;
}

.soussearchbar{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-left: 10%;
  margin-right: 10%;
}

.choix{
  margin: 10px;
}

input{
  margin: 10px;
}
